<% if @stories.any? %>
  <% @stories.each do |story| %>
    <h2> <%= link_to "#{story.title}", story_path(story) %> </h2>
    <h4><%= link_to "Edit #{story.title}", edit_story_path(story) %> </h4>

   <%= link_to (image_tag "#{story.image.url(:thumb)}"), story_path(story) %>
  <% end %>
<% else %>
  No stories yet!
<% end %>
<div id="map" style="height: 35em;">
  <script>
  	var map;
  	$(document).ready(function(){
      map = new GMaps({
  	  	div: '#map',
  	  	lat: 54,
  	  	lng: -2.5,
        zoom: 2,
        zoomControl: true,
        zoomControlOpt: {
          position: 'LEFT_CENTER'
        },
        scrollwheel: false,
  	  });
  	});
  </script>

</div>
