<div class="jumbotron">
	<% story = Story.find(1) %>
       <%= image_tag story.image.url(:medium) %>
	<p></p>
</div>

<% if @stories.any? %>
  <% @stories.each do |story| %>
    <h2> <%= link_to "#{story.title}", story_path(story) %> </h2>

   <%= link_to (image_tag "#{story.image.url(:thumb)}"), story_path(story) %>
  <% end %>
<% else %>
  No stories yet!
<% end %>

 
